In [24]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler, StringIndexer, StandardScaler, MinMaxScaler
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier, LinearSVC
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql.functions import count, isnan, when, col, sum

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Bank Customer Churn") \
    .getOrCreate()

# Load the dataset
df = spark.read.csv("Churn_Modelling.csv", header=True, inferSchema=True)

df.show(5) 
df.printSchema()


# Check for missing values
missing_values = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

# Show the count of missing values for each column
missing_values.show()

+---------+----------+--------+-----------+---------+------+----+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender| Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+----+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female|42.0|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female|41.0|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female|42.0|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female|39.0|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female|43.0|     2|125510.82|            1|     NULL|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+----+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|        0|         0|      0|          0|        1|     0|  1|     0|      0|            0|        1|             1|              0|     0|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+

In [28]:
# Drop rows with missing value
df = df.dropna()

# Show the shape of the DataFrame
print("df shape:", (df.count(), len(df.columns)))

# Check for missing values
missing_values = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

# Show the count of missing values for each column
missing_values.show()

df shape: (9998, 14)
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|        0|         0|      0|          0|        0|     0|  0|     0|      0|            0|        0|             0|              0|     0|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+

In [3]:
#check number of rows
df.count()
print('Number of Rows: ', df.count())

#check number of columns
len(df.columns)
print('Number of columns: ', len(df.columns))

df.columns

Number of Rows:  9998
Number of columns:  14

['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [4]:
# Compute descriptive statistics for all numerical columns
summary = df.describe()

# Transpose the summary DataFrame
summary_transposed = summary.select(*[col(c).alias(c) for c in summary.columns]).toPandas().transpose()

# Show the transposed summary DataFrame
print(summary_transposed)

                     0                     1                    2         3  \
summary          count                  mean               stddev       min
RowNumber         9998       5003.4974994999   2886.3212745107903         1
CustomerId        9998  1.5690938307161432E7    71923.98792778245  15565701
Surname           9998                  None                 None     Abazu
CreditScore       9998     650.5296059211843    96.63300292778429       350
Geography         9998                  None                 None    France
Gender            9998                  None                 None    Female
Age               9998    38.920287057411485   10.487985680801955      18.0
Tenure            9998     5.013002600520104   2.8921515050722646         0
Balance           9998     76481.49081916342    62393.18703475571       0.0
NumOfProducts     9998    1.5302060412082417   0.5816693900656227         1
HasCrCard         9998    0.7055411082216443  0.45582193272236976         0
IsActiveMember    9998    0.5148029605921184   0.4998058202348377         0
EstimatedSalary   9998    100099.78645529084    57510.93996209777     11.58
Exited            9998   0.20384076815363072  0.40287211771635406         0

                         4
summary                max
RowNumber            10000
CustomerId        15815690
Surname             Zuyeva
CreditScore            850
Geography            Spain
Gender                Male
Age                   92.0
Tenure                  10
Balance          250898.09
NumOfProducts            4
HasCrCard                1
IsActiveMember           1
EstimatedSalary  199992.48
Exited                   1

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import approx_count_distinct

unique_value_counts = df.agg(*[approx_count_distinct(c).alias(c) for c in df.columns])

# Show the unique value counts for each column
unique_value_counts.show()

+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|     9823|      9889|   2792|        469|        3|     2| 72|    11|   7099|            4|        2|             2|           9628|     2|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+

In [6]:
# Define the StringIndexer for Geography
geography_indexer = StringIndexer(inputCol="Geography", outputCol="GeographyIndex")

# Define the StringIndexer for Gender
gender_indexer = StringIndexer(inputCol="Gender", outputCol="GenderIndex")

# Fit and transform the DataFrame
df = geography_indexer.fit(df).transform(df)
df = gender_indexer.fit(df).transform(df)

# Show the transformed DataFrame
df.show()

#columns to drop
# Drop columns
columns_to_drop = ['RowNumber', 'CustomerId', 'Surname', 'Geography','Gender']
df = df.drop(*columns_to_drop)

# Show DataFrame
df.show()

+---------+----------+---------+-----------+---------+------+-----+------+---------+-------------+---------+--------------+---------------+------+--------------+-----------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|  Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|GeographyIndex|GenderIndex|
+---------+----------+---------+-----------+---------+------+-----+------+---------+-------------+---------+--------------+---------------+------+--------------+-----------+
|        1|  15634602| Hargrave|        619|   France|Female| 42.0|     2|      0.0|            1|        1|             1|      101348.88|     1|           0.0|        1.0|
|        2|  15647311|     Hill|        608|    Spain|Female| 41.0|     1| 83807.86|            1|        0|             1|      112542.58|     0|           2.0|        1.0|
|        3|  15619304|     Onio|        502|   France|Female| 42.0|     8| 159660.8|            3|        1|             0|      113931.57|     1|           0.0|        1.0|
|        4|  15701354|     Boni|        699|   France|Female| 39.0|     1|      0.0|            2|        0|             0|       93826.63|     0|           0.0|        1.0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44.0|     8|113755.78|            2|        1|             0|      149756.71|     1|           2.0|        0.0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29.0|     4|115046.74|            4|        1|             0|      119346.88|     1|           1.0|        1.0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31.0|     6|102016.72|            2|        0|             0|       80181.12|     0|           0.0|        0.0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24.0|     3|      0.0|            2|        1|             0|       76390.01|     0|           2.0|        0.0|
|       13|  15632264|      Kay|        476|   France|Female| 34.0|    10|      0.0|            2|        1|             0|       26260.98|     0|           0.0|        1.0|
|       14|  15691483|     Chin|        549|   France|Female| 25.0|     5|      0.0|            2|        0|             0|      190857.79|     0|           0.0|        1.0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35.0|     7|      0.0|            2|        1|             1|       65951.65|     0|           2.0|        1.0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45.0|     3|143129.41|            2|        0|             1|       64327.26|     0|           1.0|        0.0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58.0|     1|132602.88|            1|        1|             0|        5097.67|     1|           1.0|        0.0|
|       18|  15788218|Henderson|        549|    Spain|Female| 24.0|     9|      0.0|            2|        1|             1|       14406.41|     0|           2.0|        1.0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male|45.25|     6|      0.0|            1|        0|             0|      158684.81|     0|           2.0|        0.0|
|       20|  15568982|      Hao|        726|   France|Female| 24.0|     6|      0.0|            2|        1|             1|       54724.03|     0|           0.0|        1.0|
|       21|  15577657| McDonald|        732|   France|  Male| 41.0|     8|      0.0|            2|        1|             1|      170886.17|     0|           0.0|        0.0|
|       22|  15597945| Dellucci|        636|    Spain|Female|32.34|     8|      0.0|            2|        1|             0|      138555.46|     0|           2.0|        1.0|
|       23|  15699309|Gerasimov|        510|    Spain|Female| 38.0|     4|      0.0|            1|        1|             0|      118913.53|     1|           2.0|        1.0|
|       24|  15725737|   Mosman|        669|   France|  Male| 46.0|     3|      0.0|            2|        0|             1|        8487.75|     0|           0.0|        0.0|
+---------+----------+---------+-----------+---------+------+-----+------+---------+-------------+---------+--------------+---------------+------+--------------+-----------+
only showing top 20 rows

+-----------+-----+------+---------+-------------+---------+--------------+---------------+------+--------------+-----------+
|CreditScore|  Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|GeographyIndex|GenderIndex|
+-----------+-----+------+---------+-------------+---------+--------------+---------------+------+--------------+-----------+
|        619| 42.0|     2|      0.0|            1|        1|             1|      101348.88|     1|           0.0|        1.0|
|        608| 41.0|     1| 83807.86|            1|        0|             1|      112542.58|     0|           2.0|        1.0|
|        502| 42.0|     8| 159660.8|            3|        1|             0|      113931.57|     1|           0.0|        1.0|
|        699| 39.0|     1|      0.0|            2|        0|             0|       93826.63|     0|           0.0|        1.0|
|        645| 44.0|     8|113755.78|            2|        1|             0|      149756.71|     1|           2.0|        0.0|
|        376| 29.0|     4|115046.74|            4|        1|             0|      119346.88|     1|           1.0|        1.0|
|        528| 31.0|     6|102016.72|            2|        0|             0|       80181.12|     0|           0.0|        0.0|
|        497| 24.0|     3|      0.0|            2|        1|             0|       76390.01|     0|           2.0|        0.0|
|        476| 34.0|    10|      0.0|            2|        1|             0|       26260.98|     0|           0.0|        1.0|
|        549| 25.0|     5|      0.0|            2|        0|             0|      190857.79|     0|           0.0|        1.0|
|        635| 35.0|     7|      0.0|            2|        1|             1|       65951.65|     0|           2.0|        1.0|
|        616| 45.0|     3|143129.41|            2|        0|             1|       64327.26|     0|           1.0|        0.0|
|        653| 58.0|     1|132602.88|            1|        1|             0|        5097.67|     1|           1.0|        0.0|
|        549| 24.0|     9|      0.0|            2|        1|             1|       14406.41|     0|           2.0|        1.0|
|        587|45.25|     6|      0.0|            1|        0|             0|      158684.81|     0|           2.0|        0.0|
|        726| 24.0|     6|      0.0|            2|        1|             1|       54724.03|     0|           0.0|        1.0|
|        732| 41.0|     8|      0.0|            2|        1|             1|      170886.17|     0|           0.0|        0.0|
|        636|32.34|     8|      0.0|            2|        1|             0|      138555.46|     0|           2.0|        1.0|
|        510| 38.0|     4|      0.0|            1|        1|             0|      118913.53|     1|           2.0|        1.0|
|        669| 46.0|     3|      0.0|            2|        0|             1|        8487.75|     0|           0.0|        0.0|
+-----------+-----+------+---------+-------------+---------+--------------+---------------+------+--------------+-----------+
only showing top 20 rows

# Without PCA

In [20]:
# Feature Selection
feature_cols = ['CreditScore', 'Age', 'Tenure', 'Balance','NumOfProducts', 'HasCrCard', 
                'IsActiveMember', 'EstimatedSalary', 'GeographyIndex', 'GenderIndex']
assembler = VectorAssembler(inputCols=feature_cols, outputCol="unscaled_features")
data = assembler.transform(df)

scaler = MinMaxScaler(inputCol="unscaled_features", outputCol="features")
scaler_model = scaler.fit(data)
scaled_data = scaler_model.transform(data)

# Split the data into training and testing sets
(train_data, test_data) = scaled_data.randomSplit([0.8, 0.2], seed=42)

# Model Building - Logistic Regression
lr = LogisticRegression(labelCol='Exited', featuresCol="features")
lr_model = lr.fit(train_data)

# Model Building - Random Forest
rf = RandomForestClassifier(labelCol='Exited', featuresCol="features")
rf_model = rf.fit(train_data)

# Model Building - SVM
svm = LinearSVC(labelCol='Exited', featuresCol="features")
svm_model = svm.fit(train_data)

# Model Evaluation
def evaluate_model(model, test_data):
    predictions = model.transform(test_data)
    evaluator = BinaryClassificationEvaluator(labelCol='Exited')
    accuracy = evaluator.evaluate(predictions)
    return accuracy

# Evaluate Logistic Regression model
lr_accuracy = evaluate_model(lr_model, test_data)

# Evaluate Random Forest model
rf_accuracy = evaluate_model(rf_model, test_data)

# Evaluate SVM model
svm_accuracy = evaluate_model(svm_model, test_data)

# Print accuracies
print("Logistic Regression Accuracy:", lr_accuracy)
print("Random Forest Accuracy:", rf_accuracy)
print("SVM Accuracy:", svm_accuracy)

# Stop SparkSession
#spark.stop()

Logistic Regression Accuracy: 0.7458584788777394
Random Forest Accuracy: 0.8359586280857412
SVM Accuracy: 0.7416869829343347

# with PCA

In [23]:
# Feature Selection
feature_cols = ['CreditScore', 'Age', 'Tenure', 'Balance','NumOfProducts', 'HasCrCard', 
                'IsActiveMember', 'EstimatedSalary', 'GeographyIndex', 'GenderIndex']
assembler = VectorAssembler(inputCols=feature_cols, outputCol="unscaled_features")
data = assembler.transform(df)

# Apply MinMaxScaler to standadize the data
scaler = MinMaxScaler(inputCol="unscaled_features", outputCol="features")
scaler_model = scaler.fit(data)
scaled_data = scaler_model.transform(data)

from pyspark.ml.feature import PCA
# Apply PCA
pca = PCA(k=5, inputCol="features", outputCol="pca_features")
pca_model = pca.fit(scaled_data)
pca_data = pca_model.transform(scaled_data)

# Split the data into training and testing sets
(train_data, test_data) = pca_data.randomSplit([0.8, 0.2], seed=42)

# Model Building - Logistic Regression
lr = LogisticRegression(labelCol='Exited', featuresCol="pca_features")
lr_model = lr.fit(train_data)

# Model Building - Random Forest
rf = RandomForestClassifier(labelCol='Exited', featuresCol="pca_features")
rf_model = rf.fit(train_data)

# Model Building - SVM
svm = LinearSVC(labelCol='Exited', featuresCol="pca_features")
svm_model = svm.fit(train_data)

# Model Evaluation
def evaluate_model(model, test_data):
    predictions = model.transform(test_data)
    evaluator = BinaryClassificationEvaluator(labelCol='Exited')
    accuracy = evaluator.evaluate(predictions)
    return accuracy

# Evaluate Logistic Regression model
lr_accuracy = evaluate_model(lr_model, test_data)
# Evaluate Random Forest model
rf_accuracy = evaluate_model(rf_model, test_data)
# Evaluate SVM model
svm_accuracy = evaluate_model(svm_model, test_data)

# Print accuracies
print("Logistic Regression Accuracy:", lr_accuracy)
print("Random Forest Accuracy:", rf_accuracy)
print("SVM Accuracy:", svm_accuracy)


# Stop SparkSession
spark.stop()

Logistic Regression Accuracy: 0.6463037714986054
Random Forest Accuracy: 0.6800953865419713
SVM Accuracy: 0.5488847701264251

In [37]:
# Basic summary statistics
df.describe().show()

+-------+-----------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-------------------+
|summary|      CreditScore|               Age|            Tenure|          Balance|     NumOfProducts|          HasCrCard|    IsActiveMember|   EstimatedSalary|             Exited|    GeographyIndex|        GenderIndex|
+-------+-----------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-------------------+
|  count|             9998|              9998|              9998|             9998|              9998|               9998|              9998|              9998|               9998|              9998|               9998|
|   mean|650.5296059211843|38.920287057411485| 5.013002600520104|76481.49081916342|1.5302060412082417| 0.7055411082216443|0.5148029605921184|100099.78645529084|0.20384076815363072|0.7463492698539708| 0.4543908781756351|
| stddev|96.63300292778429|10.487985680801955|2.8921515050722646|62393.18703475571|0.5816693900656227|0.45582193272236976|0.4998058202348377| 57510.93996209777|0.40287211771635406|0.8274536716388309|0.49794036533207164|
|    min|              350|              18.0|                 0|              0.0|                 1|                  0|                 0|             11.58|                  0|               0.0|                0.0|
|    max|              850|              92.0|                10|        250898.09|                 4|                  1|                 1|         199992.48|                  1|               2.0|                1.0|
+-------+-----------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-------------------+